#!/bin/bash
intexit() {
  # Kill all subprocesses (all processes in the current process group)
  kill -HUP -$$
}
hupexit() {
  # HUP'd (probably by intexit)
  echo
  echo "Interrupted"
  exit
}

trap hupexit HUP
trap intexit INT

source env/bin/activate
export REDMINE_HOST="http://localhost"
export REDMINE_EXT_HOST="http://172.0.0.1"
export REDMINE_VERSION="3.3.1"
export REDMINE_TOKEN=""
export REDMINE_CLOSE_ID="5"
export REDMINE_PROJECT="general"
export REDMINE_TRACKER_ID="2"
export BOT_ID=""
export BOT_TOKEN=""
python redminebot.py &

wait
