#!/bin/bash
intexit() {
  # Kill all subprocesses (all processes in the current process group)
  kill -HUP -$$
}
hupexit() {
  # HUP'd (probably by intexit)
  echo
  echo "Interrupted"
  exit
}

trap hupexit HUP
trap intexit INT

source env/bin/activate
export REDMINE_HOST="http://localhost"
export REDMINE_EXT_HOST="http://172.0.0.1"
export REDMINE_VERSION="3.3.1"
export REDMINE_TOKEN=""
export REDMINE_NEW_ID="1"
export REDMINE_INPROGRESS_ID="2"
export REDMINE_RESOLVED_ID="3"
export REDMINE_FEEDBACK_ID="4"
export REDMINE_CLOSED_ID="5"
export REDMINE_REJECTED_ID="6"
export REDMINE_HOLD_ID="7"
export REDMINE_ACTIVITY_ID="10"
export REDMINE_PROJECT="general"
export REDMINE_TOP5_PROJECT="top5"
export REDMINE_TRACKER_ID="2"
export BOT_ID=""
export BOT_TOKEN=""
python redminebot.py &

wait
